In [1]:
import pandas as pd

In [2]:
#import data
data = pd.read_csv(r'C:\Users\cmckamey\Desktop\daily.csv')

In [62]:
#1
#view data
data.head(4000)

,Stn Id,Stn Name,CIMIS Region,Date,Jul,ETo (in),qc,Precip (in),qc.1,Sol Rad (Ly/day),...,Avg Rel Hum (%),qc.9,Dew Point (F),qc.10,Avg Wind Speed (mph),qc.11,Wind Run (miles),qc.12,Avg Soil Temp (F),qc.13
0,44,U.C. Riverside,Los Angeles Basin,1/1/2017,1,0.03,,0.00,,154.0,...,74.0,,39.9,,2.5,,59.5,,52.2,
1,44,U.C. Riverside,Los Angeles Basin,1/2/2017,2,0.02,,0.00,,103.0,...,75.0,,41.9,,2.9,,69.8,,52.0,
2,44,U.C. Riverside,Los Angeles Basin,1/3/2017,3,0.02,,0.00,,134.0,...,77.0,,40.8,,2.3,,54.8,,51.6,
3,44,U.C. Riverside,Los Angeles Basin,1/4/2017,4,0.04,,0.00,,193.0,...,73.0,,42.5,,2.3,,55.1,,51.4,
4,44,U.C. Riverside,Los Angeles Basin,1/5/2017,5,0.01,,0.13,,89.0,...,82.0,Y,49.8,Y,3.0,,72.2,,53.3,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,99,Santa Monica,Los Angeles Basin,12/10/2021,344,0.06,,0.00,,235.0,...,64.0,,41.6,,3.0,,73.1,,52.7,
3996,99,Santa Monica,Los Angeles Basin,12/11/2021,345,0.09,,0.00,,305.0,...,36.0,,29.2,,3.3,,79.2,,51.7,
3997,99,Santa Monica,Los Angeles Basin,12/12/2021,346,0.08,,0.00,,302.0,...,53.0,,36.5,,3.1,,74.5,,51.0,
3998,99,Santa Monica,Los Angeles Basin,12/13/2021,347,0.03,,0.02,,103.0,...,74.0,,45.9,,2.4,,58.3,,50.8,
3999,99,Santa Monica,Los Angeles Basin,12/14/2021,348,0.01,,1.44,,81.0,...,88.0,,47.8,,5.1,,122.5,,51.4,

In [20]:
data.tail()

,Stn Id,Stn Name,CIMIS Region,Date,Jul,ETo (in),qc,Precip (in),qc.1,Sol Rad (Ly/day),...,Avg Rel Hum (%),qc.9,Dew Point (F),qc.10,Avg Wind Speed (mph),qc.11,Wind Run (miles),qc.12,Avg Soil Temp (F),qc.13
6568,107,Santa Barbara,Central Coast Valleys,12/27/2022,361,0.00,,0.82,,35.0,...,90.0,,52.3,,1.4,,33.2,,55.8,
6569,107,Santa Barbara,Central Coast Valleys,12/28/2022,362,0.04,,0.00,,209.0,...,87.0,,50.5,,2.1,,50.6,,55.7,
6570,107,Santa Barbara,Central Coast Valleys,12/29/2022,363,0.00,R,0.03,,55.0,...,88.0,,51.3,,1.2,,28.7,,55.7,
6571,107,Santa Barbara,Central Coast Valleys,12/30/2022,364,0.00,,0.02,,59.0,...,98.0,,54.2,,1.1,,27.2,,56.4,
6572,107,Santa Barbara,Central Coast Valleys,12/31/2022,365,0.00,,2.11,,26.0,...,98.0,Y,55.5,Y,1.8,,43.9,,57.1,

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6573 entries, 0 to 6572
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Stn Id                6573 non-null   int64
 1   Stn Name              6573 non-null   object
 2   CIMIS Region          6573 non-null   object
 3   Date                  6573 non-null   object
 4   Jul                   6573 non-null   int64
 5   ETo (in)              6573 non-null   float64
 6   qc                    6573 non-null   object
 7   Precip (in)           6559 non-null   float64
 8   qc.1                  6573 non-null   object
 9   Sol Rad (Ly/day)      6558 non-null   float64
 10  qc.2                  6573 non-null   object
 11  Avg Vap Pres (mBars)  6556 non-null   float64
 12  qc.3                  6573 non-null   object
 13  Max Air Temp (F)      6408 non-null   float64
 14  qc.4                  6573 non-null   object
 15  Min Air Temp (F)      6523 non-null   float64
 16  qc.5                  6573 non-null   object
 17  Avg Air Temp (F)      6513 non-null   float64
 18  qc.6                  6573 non-null   object
 19  Max Rel Hum (%)       6558 non-null   float64
 20  qc.7                  6573 non-null   object
 21  Min Rel Hum (%)       6558 non-null   float64
 22  qc.8                  6573 non-null   object
 23  Avg Rel Hum (%)       6333 non-null   float64
 24  qc.9                  6573 non-null   object
 25  Dew Point (F)         6333 non-null   float64
 26  qc.10                 6573 non-null   object
 27  Avg Wind Speed (mph)  6559 non-null   float64
 28  qc.11                 6573 non-null   object
 29  Wind Run (miles)      6559 non-null   float64
 30  qc.12                 6573 non-null   object
 31  Avg Soil Temp (F)     6082 non-null   float64
 32  qc.13                 6573 non-null   object
dtypes: float64(14), int64(2), object(17)
memory usage: 1.7+ MB

In [23]:
#2
#How many unique stations are there in this dataset?
print("there are 3 unique stations in this dataset: Station 44: UC Riverside, Station 99:, and Station 107: Santa Barbara")

there are 3 unique stations in this dataset: Station 44: UC Riverside, Station 99:, and Station 107: Santa Barbara

In [53]:
#3
#Create a dataframe for each of the stations individually for the following fields:
#Date, precip(in), avg air temp(F), and Avg Rel Hum (%).
#Station 44: UC Riverside
isolate = pd.DataFrame().assign(Station_Name=data['Stn Name'],
                                Date=data['Date'], 
                                  Precipitation=data['Precip (in)'],
                                  Avg_Air_Temp=data['Avg Air Temp (F)'],
                                  Avg_Rel_Humidity=data['Avg Rel Hum (%)'],)

print(isolate)

        Station_Name        Date  Precipitation  Avg_Air_Temp  \
0     U.C. Riverside    1/1/2017           0.00          47.8
1     U.C. Riverside    1/2/2017           0.00          49.6
2     U.C. Riverside    1/3/2017           0.00          47.8
3     U.C. Riverside    1/4/2017           0.00          50.8
4     U.C. Riverside    1/5/2017           0.13          55.2
...              ...         ...            ...           ...
6568   Santa Barbara  12/27/2022           0.82          55.2
6569   Santa Barbara  12/28/2022           0.00          54.4
6570   Santa Barbara  12/29/2022           0.03          54.6
6571   Santa Barbara  12/30/2022           0.02          54.8
6572   Santa Barbara  12/31/2022           2.11          55.9

      Avg_Rel_Humidity
0                 74.0
1                 75.0
2                 77.0
3                 73.0
4                 82.0
...                ...
6568              90.0
6569              87.0
6570              88.0
6571              98.0
6572              98.0

[6573 rows x 5 columns]

In [63]:
#Create data frame for each station
ucr = isolate[isolate['Station_Name']=='U.C. Riverside']
sb = isolate[isolate['Station_Name']=='Santa Barbara']
sm = isolate[isolate['Station_Name']=='Santa Monica']

In [64]:
print(ucr)

        Station_Name        Date  Precipitation  Avg_Air_Temp  \
0     U.C. Riverside    1/1/2017           0.00          47.8
1     U.C. Riverside    1/2/2017           0.00          49.6
2     U.C. Riverside    1/3/2017           0.00          47.8
3     U.C. Riverside    1/4/2017           0.00          50.8
4     U.C. Riverside    1/5/2017           0.13          55.2
...              ...         ...            ...           ...
2186  U.C. Riverside  12/27/2022           0.27          56.2
2187  U.C. Riverside  12/28/2022           0.06          53.5
2188  U.C. Riverside  12/29/2022           0.00          53.4
2189  U.C. Riverside  12/30/2022           0.02          53.9
2190  U.C. Riverside  12/31/2022           0.57          55.0

      Avg_Rel_Humidity
0                 74.0
1                 75.0
2                 77.0
3                 73.0
4                 82.0
...                ...
2186              60.0
2187              88.0
2188              84.0
2189              92.0
2190              97.0

[2191 rows x 5 columns]

In [65]:
print(sb)

       Station_Name        Date  Precipitation  Avg_Air_Temp  Avg_Rel_Humidity
4382  Santa Barbara    1/1/2017           0.00          45.3              70.0
4383  Santa Barbara    1/2/2017           0.00          46.4              80.0
4384  Santa Barbara    1/3/2017           0.00          49.0              74.0
4385  Santa Barbara    1/4/2017           0.00          46.7              91.0
4386  Santa Barbara    1/5/2017           0.00          44.1             100.0
...             ...         ...            ...           ...               ...
6568  Santa Barbara  12/27/2022           0.82          55.2              90.0
6569  Santa Barbara  12/28/2022           0.00          54.4              87.0
6570  Santa Barbara  12/29/2022           0.03          54.6              88.0
6571  Santa Barbara  12/30/2022           0.02          54.8              98.0
6572  Santa Barbara  12/31/2022           2.11          55.9              98.0

[2191 rows x 5 columns]

In [66]:
print(sm)

      Station_Name        Date  Precipitation  Avg_Air_Temp  Avg_Rel_Humidity
2191  Santa Monica    1/1/2017           0.00          49.7              75.0
2192  Santa Monica    1/2/2017           0.00          52.1              77.0
2193  Santa Monica    1/3/2017           0.00          52.7              75.0
2194  Santa Monica    1/4/2017           0.16          55.1              82.0
2195  Santa Monica    1/5/2017           0.49          56.1              96.0
...            ...         ...            ...           ...               ...
4377  Santa Monica  12/27/2022           0.41          57.8              70.0
4378  Santa Monica  12/28/2022           0.02          55.9              83.0
4379  Santa Monica  12/29/2022           0.00          55.7              82.0
4380  Santa Monica  12/30/2022           0.06          56.6              86.0
4381  Santa Monica  12/31/2022           1.17          56.8              94.0

[2191 rows x 5 columns]

In [75]:
#4
#Calculate average monthly statistics for each of the weather variables at each station
#a dataframe with each month fo reach variable (mean precipitation for January, February, 
ucr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2191 entries, 0 to 2190
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Station_Name      2191 non-null   object
 1   Date              2191 non-null   object
 2   Precipitation     2191 non-null   float64
 3   Avg_Air_Temp      2191 non-null   float64
 4   Avg_Rel_Humidity  2178 non-null   float64
dtypes: float64(3), object(2)
memory usage: 102.7+ KB

In [82]:
ucr['Date']=pd.to_datetime(ucr['Date'])
sb['Date']=pd.to_datetime(sb['Date'])
sm['Date']=pd.to_datetime(sm['Date'])

C:\MyArcGISPro\bin\Python\envs\arcgispro-py3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\MyArcGISPro\bin\Python\envs\arcgispro-py3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\MyArcGISPro\bin\Python\envs\arcgispro-py3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [83]:
ucr.info()
sb.info()
sm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2191 entries, 0 to 2190
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Station_Name      2191 non-null   object
 1   Date              2191 non-null   datetime64[ns]
 2   Precipitation     2191 non-null   float64
 3   Avg_Air_Temp      2191 non-null   float64
 4   Avg_Rel_Humidity  2178 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 102.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2191 entries, 4382 to 6572
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Station_Name      2191 non-null   object
 1   Date              2191 non-null   datetime64[ns]
 2   Precipitation     2184 non-null   float64
 3   Avg_Air_Temp      2153 non-null   float64
 4   Avg_Rel_Humidity  2025 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 102.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2191 entries, 2191 to 4381
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Station_Name      2191 non-null   object
 1   Date              2191 non-null   datetime64[ns]
 2   Precipitation     2184 non-null   float64
 3   Avg_Air_Temp      2169 non-null   float64
 4   Avg_Rel_Humidity  2130 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 102.7+ KB

In [105]:
#find monthly average
mean_cols = ["Precipitation","Avg_Air_Temp", "Avg_Rel_Humidity"]

mean_values = ucr

AttributeError: 'list' object has no attribute 'mean'

**Number 5**

In [106]:
#6
#Create a function that converts degrees Farenheit to degrees Celcius
def fahr_to_celsius(Ftemp):
    Ctemp = Ftemp - 32*5/9
    return Ctemp

In [107]:
#7
#For each climatology dataframe convert Avg Air Temp (F) to Avg Air Temp (C) display results rounded to one decimal place
ucr["Avg_Air_Temp_C"] = ucr["Avg_Air_Temp"].apply(fahr_to_celsius)

KeyError: 'Avg_Air_Temp'

In [ ]:
#8
#For the daily data at the santa monica station, count the nnumber of days in the five year dataset 
#where Avg Air Temp (F) was below 50 degrees or above 100